/* خطوط */
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;600;800&display=swap');

:root {
    --green-1: #16a34a;
    --green-2: #059669;
    --card-bg: rgba(255, 255, 255, 0.96);
    --muted: #6b7280;
    --text: #083344;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0
}

html,
body {
    height: 100%
}

body {
    font-family: 'Cairo', sans-serif;
    position: relative;
    overflow-x: hidden;
}

.sidebar {
    position: fixed;
    top: 0;
    right: -280px; /* مخفي في البداية */
    width: 280px;
    height: 100vh;
    background: linear-gradient(180deg, #1a7336, #0b2b25);
    padding: 30px 20px;
    transition: right 0.35s ease;
    z-index: 1100;
    box-shadow: -4px 0 12px rgba(0,0,0,0.3);
    overflow-y: auto;
}
.sidebar.open {
    right: 0;
}

.sidebar-title {
    color: #dff7ef;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 30px;
    text-align: center;
}

.sidebar .menu {
    opacity: 0;
    transform: translateX(20px);
    transition: all 0.3s ease;
}

.sidebar.open .menu {
    opacity: 1;
    transform: translateX(0);
}

.sidebar-menu {
    list-style: none;
    padding: 0;
    margin: 0;

    opacity: 0;
    transform: translateX(20px);
    transition: all 0.3s ease;
}

.sidebar.open .sidebar-menu {
    opacity: 1;
    transform: translateX(0);
}

.sidebar-menu li {
    margin-bottom: 14px;
}

.sidebar-menu a {
    display: flex;
    align-items: center;
    gap: 10px;

    color: #eafbf5;
    text-decoration: none;
    font-size: 15px;

    padding: 10px 14px;
    border-radius: 8px;

    transition: background 0.2s ease, padding-right 0.2s ease;
}

.sidebar-menu a:hover {
    background: rgba(255,255,255,0.08);
    padding-right: 20px;
}

.sidebar-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.45);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
    z-index: 1000;
}

.sidebar-menu hr {
    border: none;
    height: 1px;
    background: rgba(255,255,255,0.15);
    margin: 20px 0;
}

.sidebar-overlay.show {
    opacity: 1;
    pointer-events: auto;
}
/* لما يكون مفتوح */
.sidebar.open {
    right: 0;
}

.sidebar-toggle {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1100;
    background: #1faa59;
    color: white;
    border: none;
    font-size: 22px;
    padding: 8px 12px;
    border-radius: 6px;
    cursor: pointer;
}

.sidebar-handle {
    position: fixed;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 44px;
    height: 100px;
    background: #1faa59;
    color: white;
    border: none;
    border-radius: 12px 0 0 12px;
    cursor: pointer;
    font-size: 22px;
    z-index: 1200;
    transition: right 0.35s ease, background 0.2s ease;
}

body.sidebar-open .sidebar-handle {
    right: 280px;   /* نفس عرض السايدبار */
    background: #146d398b;
}

.sidebar-handle:hover {
    background: #146d39;
}

.page-content {
  position: relative;
  z-index: 1;
}

